[submodule "gastropilot-backend"]
	path = gastropilot-backend
	url = https://github.com/GastroPilot/gastropilot-backend.git
[submodule "gastropilot-frontend"]
	path = gastropilot-frontend
	url = https://github.com/GastroPilot/gastropilot-frontend.git
[submodule "gastropilot-app"]
	path = gastropilot-app
	url = https://github.com/GastroPilot/gastropilot-app.git
