[submodule "gastropilot-backend"]
	path = backend
	url = https://github.com/GastroPilot/gastropilot-backend.git
[submodule "gastropilot-web"]
	path = web
	url = https://github.com/GastroPilot/gastropilot-web.git
[submodule "gastropilot-dashboard"]
	path = dashboard
	url = https://github.com/GastroPilot/gastropilot-dashboard.git
[submodule "gastropilot-app"]
	path = restaurant-app
	url = https://github.com/GastroPilot/gastropilot-app.git
[submodule "gastropilot-kds"]
	path = kds
	url = https://github.com/GastroPilot/gastropilot-kds.git
[submodule "gastropilot-table-order"]
	path = table-order
	url = https://github.com/GastroPilot/gastropilot-table-order.git
